.container {
    text-align: center;
}

.tab {
    margin: 2px;
    padding: 2px;
}

.btn:focus{
    background-color: slategray;
}

.btn {
    margin-right: 8px;
    border-radius: 4px;
    border: 2px solid black;
}