<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title>Checkerboard</title>
</head>
<body>
    <div><h1>Checkerboard</h1></div>
    <div class="grid">
        <table>
            {% for i in range(0, number, 2): %}
            <tr>
                {% for x in range(0, number, 2): %}
                <th class="color_1" style="background-color: {{color_1}};"></th>
                <th class="color_2" style="background-color: {{color_2}};"></th>
                {% endfor %}
            </tr>
            <tr>
                {% for x in range(0, num2, 2): %}
                <th class="color_2" style="background-color: {{color_2}};"></th>
                <th class="color_1" style="background-color: {{color_1}};"></th>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>